
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<p>You are not logged in ... </p>

<a href="login?user=user1">Login User1</a> |
<a href="login?user=user2">Login User2</a> |
<a href="login?user=user3">Login User3</a> |
<a href="login?user=user4">Login User4</a> |
